*.[oa]
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
/scripts
aclocal.m4
**/autom4te.cache/
/config.*
configure
/drmaa_utils/config.*
/drmaa_utils/Doxyfile
/drmaa_utils/drmaa_utils/conf_tab.[hc]
/drmaa_utils/drmaa_utils/datetime_tab.[hc]
/drmaa_utils/drmaa_utils/drmaa-run
/drmaa_utils/drmaa_utils/drmaa-run-bulk
/drmaa_utils/drmaa_utils/drmaa_attrib.c
/drmaa_utils/drmaa_utils/hpc-bash
/drmaa_utils/drmaa_utils/timedelta.c
libtool
scripts/
**/m4/libtool.m4
**/m4/ltoptions.m4
**/m4/ltsugar.m4
**/m4/ltversion.m4
**/m4/lt~obsolete.m4
stamp-h1
